body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b76e79;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.producto {
    background-color: white;
    width: 300px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
    background-color: #b76e79;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #944e5b;
}
